.aviquo {
  text-decoration: none;
  position: relative;
  font-weight: 600;
  color: inherit;
}
.aviquo-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 0 var(--padding-5xs) 9px;
}
.modal-example-summer-programs-child,
.modal-example-summer-programs-inner,
.modal-example-summer-programs-item {
  align-self: stretch;
  height: 62px;
  position: relative;
  border-radius: var(--br-9xs);
  background-color: var(--border-default-default);
  display: none;
  z-index: 1;
}
.modal-example-summer-programs-inner,
.modal-example-summer-programs-item {
  z-index: 2;
}
.modal-example-summer-programs-inner {
  z-index: 3;
}
.boa-student-leaders {
  position: relative;
  font-size: var(--font-size-xs);
  font-family: var(--font-exo);
  display: none;
  min-width: 115px;
  z-index: 4;
}
.rectangle-div {
  width: 242px;
  height: 4px;
  position: relative;
  border-radius: var(--br-130xl);
  background-color: var(--color-black);
  display: none;
  z-index: 5;
}
.rectangle-section {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  right: 0;
  bottom: -8px;
  left: 0;
  background-color: rgba(0, 0, 0, 0.34);
  z-index: 2;
}
.value,
.x-icon {
  height: 16px;
  position: relative;
}
.value {
  width: calc(100% - 47px);
  border: 0;
  outline: 0;
  font-family: var(--single-line-body-base);
  font-size: var(--single-line-body-base-size);
  background-color: transparent;
  flex: 1;
  line-height: 100%;
  color: var(--text-default-default);
  text-align: left;
  display: inline-block;
  min-width: 103px;
  padding: 0;
}
.x-icon {
  width: 16px;
  overflow: hidden;
  flex-shrink: 0;
}
.search {
  height: 32px;
  flex: 1;
  border-radius: var(--radius-full);
  background-color: var(--background-default-default);
  border: 1px solid var(--border-default-default);
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs-5) var(--padding-mini) var(--padding-5xs-5)
    var(--space-400);
  gap: var(--space-200);
}
.slider-icon {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  z-index: 3;
}
.slider-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-10xs);
}
.bookmark-icon {
  width: 24px;
  height: 24px;
  position: relative;
}
.frame-div,
.search-parent {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  max-width: 100%;
}
.search-parent {
  height: 31px;
  flex: 1;
  align-items: flex-end;
  gap: var(--gap-7xl);
}
.frame-div {
  align-self: stretch;
  align-items: flex-start;
  padding: 0 0 0 var(--padding-11xs);
  box-sizing: border-box;
}
.frame-child {
  width: 326px;
  height: 288px;
  position: relative;
  border-radius: var(--br-mid);
  background-color: var(--background-default-default);
  display: none;
  max-width: 100%;
}
.boa-student-leaders1 {
  margin: 0;
  position: relative;
  font-size: 20px;
  font-weight: 700;
  font-family: var(--font-plus-jakarta-sans);
  color: var(--color-black);
  text-align: left;
  z-index: 4;
}
.boa-student-leaders-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-32xl) 0 var(--padding-26xl);
}
.program-info-child {
  height: 45px;
  width: 49px;
  position: relative;
  border-radius: var(--br-5xs);
  background-color: var(--color-palegreen);
  display: none;
}
.th {
  position: relative;
  font-size: var(--font-size-2xs);
  font-weight: 500;
  font-family: var(--font-dm-sans);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 19px;
  z-index: 5;
}
.program-info {
  align-self: stretch;
  border-radius: var(--br-5xs);
  background-color: var(--color-palegreen);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-sm) var(--padding-mini);
  z-index: 4;
}
.free {
  position: relative;
  font-size: var(--font-size-2xs);
  font-weight: 500;
  font-family: var(--font-dm-sans);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 21px;
  z-index: 5;
}
.program-info1 {
  border-radius: var(--br-5xs);
  background-color: var(--color-palegreen);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-sm) var(--padding-mini);
  z-index: 4;
}
.busfin {
  position: relative;
  font-size: var(--font-size-2xs);
  font-weight: 500;
  font-family: var(--font-dm-sans);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 37px;
  z-index: 5;
}
.program-info2 {
  border-radius: var(--br-5xs);
  background-color: var(--color-palegreen);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-7xs) var(--padding-mini);
  z-index: 4;
}
.frame-wrapper,
.program-info-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.program-info-parent {
  margin: 0;
  align-self: stretch;
  justify-content: flex-start;
  gap: var(--gap-7xl);
}
.frame-wrapper {
  width: 49px;
  justify-content: flex-end;
  padding: 0 0 var(--padding-2xs);
  box-sizing: border-box;
}
.frame-item {
  width: 3px;
  flex: 1;
  position: relative;
  border-radius: var(--br-130xl);
  background-color: var(--color-black);
  z-index: 4;
}
.rectangle-wrapper {
  height: 195px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-7xs) 0 0;
  box-sizing: border-box;
}
.desicrpiotn-disr-peion-dies {
  margin: 0;
}
.desicrpiotn-disr-peion-dies-container,
.desicrpiotn-disr-peion-dies-container1 {
  position: relative;
  font-size: var(--font-size-xs);
  font-family: var(--font-dm-sans);
  color: var(--color-black);
  text-align: left;
  z-index: 4;
}
.desicrpiotn-disr-peion-dies-container1 {
  z-index: 5;
  margin-top: -48px;
}
.desicrpiotn-disr-peion-dies-ci-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-inner {
  height: 45px;
  width: 117px;
  position: relative;
  border-radius: var(--br-8xs);
  background-color: var(--color-darkturquoise);
  display: none;
}
.apply {
  position: relative;
  font-size: 15px;
  display: inline-block;
  font-family: var(--font-dm-sans);
  color: var(--color-black);
  text-align: left;
  min-width: 47px;
  z-index: 5;
}
.frame-wrapper1,
.rectangle-group {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangle-group {
  cursor: pointer;
  border: 0;
  padding: var(--padding-smi) var(--padding-15xl) var(--padding-smi) 36px;
  background-color: var(--color-darkturquoise);
  border-radius: var(--br-8xs);
  z-index: 4;
}
.frame-wrapper1 {
  padding: 0 var(--padding-3xl);
}
.frame-container,
.frame-parent1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.frame-parent1 {
  align-self: stretch;
  justify-content: flex-start;
  gap: 71px;
}
.frame-container {
  flex: 1;
  justify-content: flex-end;
  padding: 0 0 var(--padding-6xs);
  box-sizing: border-box;
  min-width: 148px;
}
.frame-group {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 6px;
}
.frame-child1,
.rectangle-parent {
  align-self: stretch;
  max-width: 100%;
}
.rectangle-parent {
  border-radius: var(--br-mid);
  background-color: var(--background-default-default);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-lg) var(--padding-xs) var(--padding-6xl);
  box-sizing: border-box;
  gap: 22px;
  flex-shrink: 0;
  z-index: 3;
}
.frame-child1 {
  flex: 1;
  position: relative;
  border-radius: var(--br-9xs);
  background-color: var(--border-default-default);
}
.rectangle-container {
  align-self: stretch;
  height: 73px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-2xs);
  box-sizing: border-box;
  max-width: 100%;
  flex-shrink: 0;
}
.frame-child3 {
  align-self: stretch;
  height: 62px;
  position: relative;
  border-radius: var(--br-9xs);
  background-color: var(--border-default-default);
  flex-shrink: 0;
}
.frame-parent,
.modal-example-summer-programs {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.frame-parent {
  margin: 0;
  align-self: stretch;
  height: 566px;
  padding: 0 0 95px;
  gap: 24px;
}
.modal-example-summer-programs {
  width: 390px;
  background: linear-gradient(
    180deg,
    rgba(244, 90, 254, 0.33),
    rgba(85, 222, 255, 0.11)
  );
  overflow: hidden;
  padding: var(--padding-42xl) var(--padding-9xl) 0 var(--padding-13xl);
  position: relative;
  gap: 64px;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--color-black);
  font-family: var(--font-plus-jakarta-sans);
}
